{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <h1 class="mt-4">{{post.title}}</h1>

      <!-- Author -->
      <p class="lead">
        by
        <a href="#">{{post.author}}</a>
      </p>

      <hr>

      <!-- Date/Time -->
      <p>Posted on {{post.published_at}}</p>

      <hr>

      <hr>

      <!-- Post Content -->
      {{post.content | safe}}
      <hr>

      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <form name="email_form" id="email_form">
            <div class="form-group">
              <textarea class="form-control" rows="3" id="post_comment" name="post_comment"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" onclick="post_comment()">Submit</button>
          </form>
        </div>
      </div>

      <!-- Single Comment -->
      <div id="comment_section">
        {% for item in comments %}
          <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              {{item.comment}}
            </div>
          </div>
        {% endfor %}
      </div>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Search Widget -->
      <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Send Email to Admin</h5>
        <div class="card-body">
            <form name="email_form" id="email_form" action="/news/email" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" type="text" id="email_content" name="email_content" required></textarea>
                </div>
                <button class="btn btn-fw btn-primary pull-right" type="submit" style="margin-bottom: 5px;margin-right: 36px;">Send</button>
            </form>
        </div>
      </div>

    </div>

 </div>
{% endblock content %}
{% block cssincludes %}
{% endblock cssincludes %}
{% block jsincludes %}
<script>
$(document).ready(function(){
  function post_comment(){
    var comment = $("#post_comment").val();
    var post_id = "{{post.id}}";
    $.ajax({
      url :  "{% url 'save_comment' %}",
      type: 'POST',
      error: function() {
          console.log("Something went wrong")
      },
      success: function(data) {
        $("#post_comment").html('')
        $("#post_comment").html(data)
      },
    });
  }
});
</script>
{% endblock jsincludes %}